/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*import fonts */
/*colors: black, white, purple/violet, blue,

maybe some red around the quote*/


body { /*UPDATE WITH DEVICE WIDTH -- Bigger text, etc*/
    background: whitesmoke;
    color: black;
    margin: 0;
    font-family: 'Abel', sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.github-project {
    border: 1.2px solid black;
    padding: 12px;
    border-radius: 20px; 
}

.margin {
    margin-top: 80px
}
.space {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.recent {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 70px;
}
.s-p {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.skill-s {
    font-size: 16px;
}
.p-disc {
    display: block;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
}

.brief-about { /*UPDATE WITH DEVICE WIDTH*/
    margin-left: 10px;
    font-size: 24px; 
}
.tagline {
    color: purple;
    font-size: 26px;
    margin-top: 70px;
} 
ul {
list-style-type: none; /* Remove default bullets */
padding: 0;
}

ul li {
padding-left: 20px;
position: relative;
}

ul li::before {
content: "\2192"; /* Unicode rightwards arrow symbol */
position: absolute;
left: 0;
}
  
.navbar { /*UPDATE WITH DEVICE WIDTH*/
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.99);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: 'Abel', sans-serif;
} 

.contact-header {
    display: block;
    display: flex-end;
    margin-left: auto;
}

a {
    color: #0066cc;
    text-decoration: none;
}
.name-header {
    margin-left: 40px; 
}
.s-p {
    font-size: 15px;
}
.p-name {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 70px;
}
.item {
    margin-bottom: 30px;
}
.cv-header,
.projects-header,
.about-header {
    margin: 0 10px;
}
.contact-header {
    margin-left: auto;
}
.about-header {
    margin-left: auto; 
    margin-right: auto;
}
.website-container { /*UPDATE WITH DEVICE WIDTH*/
    margin-top: 75px;
    font-family: 'Abel', sans-serif;
}
.explore {
    display: block;
    text-align: end;
    margin-right: 20px;
    margin-top: 80px;
    font-size: 16px;
}
.recent-project {
    margin-top: 50px;
}
.testimonials {
    border-radius: 10px;
}

.referral {
padding: 20px;    
margin-bottom: 20px;
margin-left: 15px;
}

.referral p {
margin: 0;
font-size: 16px;
font-weight: bold;
color: #000000;
}


.referral a {
color: #0066cc;
text-decoration: none;
}
.referrals {
    padding: 20px;    
margin-bottom: 20px;
margin-left: 15px;
}
.referrals p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.footer {
    margin-bottom: 20px;
    margin-left: 20px;
}
.footerx {
    margin: 20px 10px;
    display: inline-block;
}
.copyright {
    display: flex;
    justify-content: end;

}
.h-disc {
    display: block;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
}
@media only screen and (min-width: 768px) {
    .navbar {
        font-size: 16px;
    }
    body {/* increase text size or p text size*/
        color: black; 
    }
    .brief-about {
        font-size: 30px; 
    }
    .tagline {
        color: purple;
        font-size: 43px;
    }
    .explore {
        font-size: 21px;
    }
    .recent {
        font-size: 28px;
    }
    p, a {
        font-size: 18px;
    }
    .s-p {
        font-size: 20px;
    }
    .skill-s {
        font-size: 17px;
    }
    .testimonials {
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .referral {
    padding: 30px;    
    margin-bottom: 20px;
    margin-left: 20px;
    }
    .referral p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
      
    .grid img {
        width: 250px;
        height: 250px;
    }
       
    .p-disc {
        max-width: 250px;
    }
      
}

@media only screen and (min-width: 1200px) {/*computer at least 12in. */
    .brief-about {
        font-size: 55px;
    }
    .tagline {
        font-size: 5em;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    .grid img {
        width: 305px;
        height: 305px;
    }
    .p-disc {
        max-width: 305px;
    }
    .explore {
        font-size: 30px;
    }
}